group: edge

services:
  - docker

on:
  branch: kzl-51-add-automated-test

env:
  global:
  - DOCKER_COMPOSE_VERSION=1.21.0

before_install:
  - sudo sysctl -w vm.max_map_count=262144

script:
  # Run tests
  - npm install && npm run test
